<div class="jumbotron jumbotron-fluid" style="background: #23222d;">
	<div class="container">
		<h1 class="display-4">Welcome <%= user.name %> !</h1>
		<p class="lead">
			 <%= user.email %>%>
		</p>
	</div>
</div>

<h2 style="padding-bottom:10px;">Recent Articles</h2>

<div class="card" style="margin-bottom: 2rem; background: #9b1f69">
  <div class="card-body">
    <h5 class="card-title">Title : <%= myArticles.articles[0].title %> </h5>
    <h4 class="card-title"> <%= myArticles.articles[0].author %> </h5>
      <img src="<%= myArticles.articles[0].urlToImage %>" alt="" style="padding-bottom:10px;">
    <p class="card-text"><%= myArticles.articles[0].content %></p>
    <a href="<%= myArticles.articles[0].url %>>" class="btn btn-primary">Read More</a>
  </div>
</div>

<!-- <div class="card" style="margin-bottom: 2rem">
  <div class="card-body">
    <h5 class="card-title">Post Title</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam maiores aliquid quibusdam quasi neque aliquam ut eius magnam nisi soluta doloribus corrupti obcaecati optio repellendus aut voluptatem, velit minus...</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
<div class="card" style="margin-bottom: 2rem">
  <div class="card-body">
    <h5 class="card-title">Post Title</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam maiores aliquid quibusdam quasi neque aliquam ut eius magnam nisi soluta doloribus corrupti obcaecati optio repellendus aut voluptatem, velit minus...</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div> -->